<div>
  <p>Уважаемый(ая) <strong>${fullName}</strong>!</p>

  <p>Вы получили это письмо, потому что зарегистрировались для участия в Олимпиаде
    для школьников, проводимой в <strong>Российском национальном исследовательском медицинском университете им. Н.И.Пирогова.</strong>
  </p>
  <p>К сожалению, Вы не заполнили всю необходимую информацию в Вашем личном кабинете участника,
  поэтому мы не сможем допустить Вас к первому этапу Олимпиады.</p>
  <p>Вам надо до окончания периода регистрации на первый этап выполнить следующие действия:</p>
  <ol>
    <li>
      На вкладке <strong>Информация об участнике</strong>
      заполнить персональную информацию с указанием контактных данных,
      региона/субъекта РФ, названия или номера образовательного учереждения и номера класса.
    </li>
    <li>
      На вкладке <strong>Скан-копии документов</strong>
      загрузить копии первой страницы паспорта, справки из школы
      и согласия на обработку персональных данных.
    </li>
    <li>
      На вкладке <strong>Регистрация/Участие в Олимпиаде</strong>
      выбрать один или два профиля, по которым Вы будете принимать участие в Олимпиаде.
    </li>
  </ol>
  <p>Если Вы не регистрировались для участия в Олимпиаде и получили это письмо по ошибке, просто проигнорируйте данное сообщение.</p>

  <p>С уважением, ${signature}<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
    #*
      <p>Пожалуйста, не отвечайте на это сообщение</p>
    *#
  <p style="font-size: smaller;color: #aaaaaa;padding-top: 1em;">Российский Национальный Исследовательский Медицинский Университет им. Н.И. Пирогова</p>
  <p style="font-size: smaller;color: #aaaaaa">Российская Федерация, г. Москва 117997, ул. Островитянова д. 1</p>

  <p style="font-size: smaller;color: #aaaaaa">Отписаться от рассылки можно, ответив на это письмо.</p></div>
