<div>
  <p>Уважаемый(ая) <strong>${fullName}</strong>!</p>

  <p>Вы получили это письмо, потому что зарегистрировались для участия в Олимпиаде
    для школьников, проводимой в <strong>Российском национальном исследовательском медицинском университете им. Н.И.Пирогова.</strong>
  </p>
  <p>${message}</p>
  <p></p>
  <p>Если Вы не регистрировались для участия в Олимпиаде и получили это письмо по ошибке, просто проигнорируйте данное сообщение.</p>

  <p>С уважением, ${signature}<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
    #*
      <p>Пожалуйста, не отвечайте на это сообщение</p>
    *#
  <p style="font-size: smaller;color: #aaaaaa;padding-top: 1em;">Российский Национальный Исследовательский Медицинский Университет им. Н.И. Пирогова</p>
  <p style="font-size: smaller;color: #aaaaaa">Российская Федерация, г. Москва 117997, ул. Островитянова д. 1</p>

  <p style="font-size: smaller;color: #aaaaaa">Отписаться от рассылки можно, ответив на это письмо.</p></div>
