<div>
  <p>Уважаемый(ая) <strong>${fullName}</strong>!</p>

  <p>В прошлом году Вы участвовали в Олимпиаде
    для школьников, проводимой в <strong>Российском национальном исследовательском медицинском университете им. Н.И.Пирогова.</strong>
  </p>
  <p>Информируем Вас, что отрыта регистрация желающих принять участие в Олимпиаде этого учебного года.
    Регистрация происходит по адресу <a href="${siteUrl}">${siteUrl}</a>. Для входа на сайт Вы можете
    использовать логин и пароль прошлого года. При необходимости воспользуйтесь функцией восстановления пароля.
  </p>

  <p>С уважением, ${signature}<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
    #*
      <p>Пожалуйста, не отвечайте на это сообщение</p>
    *#
  <p style="font-size: smaller;color: #aaaaaa;padding-top: 1em;">Российский Национальный Исследовательский Медицинский Университет им. Н.И. Пирогова</p>
  <p style="font-size: smaller;color: #aaaaaa">Российская Федерация, г. Москва 117997, ул. Островитянова д. 1</p>

  <p style="font-size: smaller;color: #aaaaaa">Отписаться от рассылки можно, ответив на это письмо.</p></div>
