<div>
  <p>Уважаем${sexEnding} <strong>${fullName}</strong>!</p>

  <p>Вы получили это письмо, так как успешно написали отборочный этап Пироговской олимпиады для школьников по <strong>${subjectName}</strong>.
    Сообщаем Вам, что <a href="https://olymp.rsmu.ru/">открыта регистрация</a> на заключительный этап Пироговской олимпиады для школьников.</p>
  <p>Для успешной регистрации необходимо:</p>
  <ol>
    <li>Зайти в Личный кабинете участника по адресу: <a href="https://olymp.rsmu.ru/">https://olymp.rsmu.ru/</a>;</li>
    <li>Проверить полноту и правильность внесенной Вами информации в разделе «Информация об участнике»;</li>
    <li>Проверить наличие и правильность прикрепленных Вами документов в разделе «Скан-копии документов»
      (паспорт, согласие на обработку персональных данных, справка из образовательного учреждения);</li>
    <li>В разделе «Участие в олимпиаде» выбрать предмет для регистрации.</li>
  </ol>

  <p>Обращаем Ваше внимание на то, что размещение участником Олимпиады недостоверных личных данных при регистрации
    и неполнота заполнения личного кабинета являются безусловным основанием для аннулирования работ участников Олимпиады.</p>
  <p></p>
  <p>Если Вы не регистрировались для участия в Олимпиаде и получили это письмо по ошибке, просто проигнорируйте данное сообщение.</p>

  <p>С уважением, ${signature}<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
  #*
    <p>Пожалуйста, не отвечайте на это сообщение</p>
  *#
  <p style="font-size: smaller;color: #aaaaaa;padding-top: 1em;">Российский Национальный Исследовательский Медицинский Университет им. Н.И. Пирогова</p>
  <p style="font-size: smaller;color: #aaaaaa">Российская Федерация, г. Москва 117997, ул. Островитянова д. 1</p>

  <p style="font-size: smaller;color: #aaaaaa">Отписаться от рассылки можно, ответив на это письмо.</p>
</div>
